:root {
  --background-light-color: #e5e5e5;
  --accent-blue-color: #2196f3;
  --text-link-color: #212121;
  --logo-black: #000000;
  --hero-white-color: #fff;
  --background-hero-color: #2f303a; /*тимчасово*/
  --main-body-color: #757575;
  --btn-black-color: #212121;
  --btn-back-color: #2196f3;
  --btn-white-color: #fff;
  --header-link-color: #212121;
}
body {
  background-color: var(--background-light-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* -----------------------  header----------------------------- */
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-link-color);
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-logo {
  color: var(--logo-black);
}
.header-logo span {
  color: var(--accent-blue-color);
}
.header-link {
  color: var(--header-link-color);
}
.accent:hover,
.accent:focus {
  color: var(--accent-blue-color);
}
.header-mail,
.header-tel {
  color: var(--main-body-color);
}

/* --------------------------hero ----------------------------*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-white-color);
  background: var(--background-hero-color); /*тимчасово*/
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-white-color);
  background-color: var(--btn-back-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-back-color);
  color: var(--btn-white-color);
}

/* -------------------------benefits------------------------*/
.benefits-title,
.title-portfolio {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits-pre-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-link-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}
.personal-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-link-color);
}
.personal-text {
  font-size: 16px;
  line-height: 1.18px;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}
/* ---------------------footer-------------------- */
.footer {
  background-color: var(--background-hero-color); /* тимчасово */
}
.footer-logo {
  color: var(--hero-white-color);
}
.logo-part {
  color: var(--accent-blue-color);
}
.contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-white-color);
}

/*---------------- Portfolio -------------------*/
.portfolio-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-link-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}

.portfolio-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--btn-first-color);
}
.portfolio-button:hover,
.portfolio-button:hover {
  background-color: var(--btn-back-color);
  color: var(--btn-white-color);
}
